.card{
    height: 160px;
    width: 150px;
    background-color: coral;
    margin-top: 55px;
    margin:20px;
    border-radius: 10%;
}

.cardTitle{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding:5px;
}

