.card{
    height: 160px;
    width: 150px;
    background-color:#F7DEDC;
    margin-top: 55px;
    margin:20px;
    border-radius: 10%;
}

.cardTitle{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding:7px;
}

.cardBody{
    padding:8px;
    text-align: center;
    font-size: 12px;
}

